{% extends "base.html" %}
{% block title %} Home{% endblock %}

{% block content %}
    <h2 class="intro" align="center">Welcome, {{ user.first_name}}</h2>

    <div class="container contains">
        <div class="search">
            <form  method="POST">
                <input type="text" name="title" id="title" placeholder="Enter title">
                <button type="submit" class="subs">+</button>
            </form>
        </div>
        {% for task in user.tasks[::-1] %}
            {% if task.users.count()==1 %}
            <div class="box">
                {% if task.completed == True %}
                    <img src="{{ url_for('static',filename = 'images/circle.svg') }}" alt=""></img>
                {% else %}
                    <img src="{{ url_for('static',filename = 'images/circle2.svg') }}" alt=""></img>
                {% endif %} 
            <h3>{{task.title}}</h3>
                
                <div class="right">
                
                        {% if task.completed == True %}
                            {% if task.users[1] %}
                                <a href="#" class="modal-btn" onclick="val('{{task.title}}',{{task.id}},1 ,'{{task.users[1].email}}')"><img src="{{ url_for('static',filename = 'images/edit.svg') }}" alt=""></img></a>
                            {% else %}
                                <a href="#" class="modal-btn" onclick="val('{{task.title}}',{{task.id}},1 ,'')"><img src="{{ url_for('static',filename = 'images/edit.svg') }}" alt=""></img></a>
                            {% endif %}
                        {% else %}
                        <a href="#" class="modal-btn" onclick="val('{{task.title}}',{{task.id}},0,'')"><img src="{{ url_for('static',filename = 'images/edit.svg') }}" alt=""></img></a>
                        {% endif %}
                        <a href="/delete/{{task.id}}" ><img src="{{ url_for('static',filename = 'images/delete.svg') }}" alt="" ></img></a>
                </div>
                {% endif %}
            </div>

        {% endfor %}
        <div class="modal-bg">
            <div class="modal">
                <h2>Edit the task</h2>
                <form action="/update/" id="myform" method="POST">
                    <label for="">Title</label>
                    <input type="text" name="title" id="name">
                    
                    <label for="check">Completed</label>
                    <input type="checkbox" name="check" id="check">
                    <label for="">Collaboration</label>
                    <input type="text" name="collaborate" id="collaborate">
                    <button type="submit">update</button>
                </form>
                
                <span class="modal-close">X</span>
                
                
            </div>
        </div>
    </div>
    
{% endblock %}